<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.web6.dao.BoardMapper">

<insert id="insertBoard" parameterType="board">
<!-- parameterType과 mybatis의 alias는 같아야 함 -->
<!-- id는 Mapper.java(인터페이스)의 메서드 명과 같아야 함 -->
	insert
	into
		web5_board
		(
			boardnum
			, id
			, title
			, contents
		)
	values
		(
			web5_board_seq.nextval
			, #{id}
			, #{title}
			, #{contents}
		)

</insert>
	
<!-- 게시글 목록 -->
<select id="list" resultType="board">
	select
		boardnum
		, title
		, id
		, hits
		, to_char(inputdate, 'yy/mm/dd') as inputdate
	from
		web5_board
	order by
		boardnum desc
</select>

<!--  --><!-- resultType는 다시 돌려줄 값이 있을 때 사용 -->
<select id="selectNum" parameterType="int" resultType="board">
	select 
	*from 
		web5_board 
	where 
		boardnum = #{num}
</select>

<!--  -->
<update id="update" parameterType="board">
	update web5_board set title = #{title}, contents = #{contents} where id = #{id} and boardnum = #{boardnum}
</update>

<!-- 글 삭제 -->
<delete id="delete" parameterType="board">
	delete from web5_board where id = #{id} and boardnum = #{boardnum}
</delete>

<!-- 조회수 1증가 -->
<update id="updateHits" parameterType="int">
	update web5_board set hits = hits + 1 where boardnum = #{boardnum}
</update>
	
</mapper>
